Repository Ynewtime/markitai: changes, and which pre-commit hooks are due for each by the changed paths.
All: sync-readme, pyright

sync-readme:
  name: sync README to package
  entry: bash -c 'cp README.md packages/markitai/README.md && git add packages/markitai/README.md'
  language: system
  pass_filenames: false

pyright:
  name: pyright
  entry: uv run pyright
  args:
  - packages/markitai/src
  language: system
  pass_filenames: false

docs: address spec review feedback for pure decoupling design
  docs/superpowers/specs/2026-03-13-pure-decoupling-and-image-vision-design.md
Due: none

plan: pure mode decoupling & image vision path implementation
  docs/superpowers/plans/2026-03-13-pure-decoupling-and-image-vision.md
Due: none

refactor: group skip warnings by reason in batch summary
  packages/markitai/src/markitai/batch.py
  packages/markitai/tests/unit/test_batch.py
Due: pyright

feat: add keep_base field to LLMConfig
  packages/markitai/src/markitai/config.py
  packages/markitai/tests/unit/test_config.py
Due: pyright

fix: update schema and integration tests for output strategy optimization
  packages/markitai/src/markitai/config.schema.json
  packages/markitai/tests/integration/test_output_format.py
  packages/markitai/tests/integration/test_real_scenarios.py
Due: pyright

feat: handle image-only skip in batch processor
  packages/markitai/src/markitai/cli/processors/batch.py
  packages/markitai/tests/unit/test_batch_processor.py
Due: pyright

fix: process_with_llm respects --pure mode (no LLM-generated frontmatter)
  packages/markitai/src/markitai/cli/processors/llm.py
  packages/markitai/tests/unit/test_llm_processor_cli.py
Due: pyright

feat: use mode-specific rules in cleaner prompt for pure vs standard mode
  packages/markitai/src/markitai/llm/document.py
  packages/markitai/src/markitai/prompts/cleaner_system.md
  packages/markitai/tests/unit/test_prompts.py
Due: pyright

chore: bump version to 0.11.0 and upgrade dependencies
  CHANGELOG.md
  packages/markitai/pyproject.toml
  packages/markitai/src/markitai/__init__.py
  pyproject.toml
  uv.lock
  website/guide/getting-started.md
  website/zh/guide/getting-started.md
Due: pyright

fix: pure mode reconstructs source frontmatter before LLM cleaning
  packages/markitai/src/markitai/cli/processors/llm.py
  packages/markitai/tests/unit/test_llm_processor_cli.py
Due: pyright

docs: update documentation for v0.11.0 features
  README.md
  packages/markitai/README.md
  website/guide/cli.md
  website/guide/getting-started.md
  website/zh/guide/cli.md
  website/zh/guide/getting-started.md
Due: sync-readme

feat: warn when --pure silently overrides --alt/--desc/--screenshot
  packages/markitai/src/markitai/cli/main.py
  packages/markitai/tests/unit/test_cli_main.py
Due: pyright

fix: lower too_short threshold and add pure mode to interactive CLI
  packages/markitai/src/markitai/cli/interactive.py
  packages/markitai/src/markitai/fetch.py
  packages/markitai/tests/unit/cli/test_interactive.py
  packages/markitai/tests/unit/test_fetch.py
Due: pyright

ci: upgrade GitHub Actions to Node.js 24 compatible versions
  .github/workflows/ci.yml
  .github/workflows/deploy-website.yml
  .github/workflows/publish.yml
Due: none

fix: pure mode bypass vision paths, warning false positive, type safety
  CHANGELOG.md
  packages/markitai/src/markitai/cli/main.py
  packages/markitai/src/markitai/cli/processors/llm.py
  packages/markitai/src/markitai/cli/processors/url.py
  packages/markitai/src/markitai/workflow/helpers.py
  packages/markitai/tests/unit/test_cli_main.py
  packages/markitai/tests/unit/test_llm_processor_cli.py
  packages/markitai/tests/unit/test_url_processor.py
Due: pyright

chore: bump version to 0.11.1
  CHANGELOG.md
  packages/markitai/pyproject.toml
  packages/markitai/src/markitai/__init__.py
  pyproject.toml
  uv.lock
  website/guide/getting-started.md
  website/zh/guide/getting-started.md
Due: pyright

fix(ci): revert deploy-pages to v4, v5 does not exist
  .github/workflows/deploy-website.yml
Due: none

fix: Windows compatibility, lazy dir creation, pyright warnings
  CHANGELOG.md
  packages/markitai/pyproject.toml
  packages/markitai/src/markitai/__init__.py
  packages/markitai/src/markitai/config.py
  packages/markitai/src/markitai/config.schema.json
  packages/markitai/src/markitai/constants.py
  packages/markitai/src/markitai/fetch.py
  packages/markitai/src/markitai/fetch_http.py
  packages/markitai/src/markitai/llm/cache.py
  packages/markitai/src/markitai/utils/executor.py
  packages/markitai/tests/unit/test_config.py
  packages/markitai/tests/unit/test_fetch.py
  pyproject.toml
  uv.lock
  website/guide/getting-started.md
  website/zh/guide/getting-started.md
Due: pyright

fix: add Sonnet 4.6 to Copilot pricing, note 1M context GA
  packages/markitai/src/markitai/constants.py
Due: pyright

chore: update dependencies (litellm 1.82.2, openai 2.28.0, etc.)
  uv.lock
Due: none

fix: URL mode without -o outputs to stdout instead of erroring
  packages/markitai/src/markitai/cli/main.py
  packages/markitai/src/markitai/cli/processors/url.py
  packages/markitai/tests/unit/cli/test_main.py
  packages/markitai/tests/unit/test_url_processor.py
Due: pyright

docs: add codebase review report and P0-A concurrency safety plan
  docs/plans/2026-03-18-codebase-review-report.md
  docs/plans/2026-03-18-p0a-concurrency-safety.md
Due: none

fix: cache io_semaphore to prevent creating new instance per access
  packages/markitai/src/markitai/llm/processor.py
  packages/markitai/tests/unit/test_llm_processor.py
Due: pyright

fix: add thread safety to ContentCache and _image_cache
  packages/markitai/src/markitai/llm/cache.py
  packages/markitai/src/markitai/llm/processor.py
  packages/markitai/tests/unit/test_llm_processor.py
Due: pyright

fix: add thread safety to model cooldown tracking
  packages/markitai/src/markitai/llm/processor.py
  packages/markitai/tests/unit/test_llm_processor.py
Due: pyright

fix: use atomic write in ConfigManager.save()
  packages/markitai/src/markitai/config.py
  packages/markitai/tests/unit/test_config.py
Due: pyright

fix: make write_bytes_async use atomic write pattern
  packages/markitai/src/markitai/security.py
  packages/markitai/tests/unit/test_security.py
Due: pyright

fix: align write_bytes_async fd handling with atomic_write_text_async
  packages/markitai/src/markitai/security.py
Due: pyright

docs: add P0-B safety boundary tests plan
  docs/plans/2026-03-18-p0b-safety-boundary-tests.md
Due: none

test: add unit tests for converter/_patches.py
  packages/markitai/tests/unit/test_patches.py
Due: pyright

test: add unit tests for cli/processors/validators.py
  packages/markitai/tests/unit/test_validators.py
Due: pyright

test: add unit tests for utils/paths.py
  packages/markitai/tests/unit/test_paths.py
Due: pyright

fix: add missing assertion and remove redundant create=True mock
  packages/markitai/tests/unit/test_validators.py
Due: pyright

docs: add P1-A resource lifecycle plan
  docs/plans/2026-03-18-p1a-resource-lifecycle.md
Due: none

fix: reset global semaphores and state in close_shared_clients()
  packages/markitai/src/markitai/fetch.py
  packages/markitai/src/markitai/utils/executor.py
  packages/markitai/tests/unit/test_executor.py
  packages/markitai/tests/unit/test_fetch.py
Due: pyright

refactor: extract hardcoded values to constants.py
  packages/markitai/src/markitai/cli/processors/llm.py
  packages/markitai/src/markitai/constants.py
  packages/markitai/src/markitai/image.py
  packages/markitai/src/markitai/llm/cache.py
  packages/markitai/src/markitai/llm/processor.py
  packages/markitai/src/markitai/providers/claude_agent.py
  packages/markitai/src/markitai/providers/copilot.py
Due: pyright

fix: reset _detected_proxy_bypass in close_shared_clients, move import
  packages/markitai/src/markitai/fetch.py
  packages/markitai/src/markitai/llm/cache.py
Due: pyright

fix: add debug logging to 5 high-risk silent exception handlers
  packages/markitai/src/markitai/fetch_playwright.py
  packages/markitai/src/markitai/image.py
  packages/markitai/src/markitai/llm/processor.py
  packages/markitai/src/markitai/llm/vision.py
Due: pyright

fix: add debug logging to all remaining silent exception handlers
  packages/markitai/src/markitai/cli/interactive.py
  packages/markitai/src/markitai/cli/main.py
  packages/markitai/src/markitai/converter/office.py
  packages/markitai/src/markitai/converter/pdf.py
  packages/markitai/src/markitai/fetch.py
  packages/markitai/src/markitai/fetch_playwright.py
  packages/markitai/src/markitai/providers/__init__.py
  packages/markitai/src/markitai/providers/auth.py
  packages/markitai/src/markitai/providers/chatgpt.py
Due: pyright

refactor: extract fetch_types.py and fetch_cache.py from fetch.py
  docs/plans/2026-03-18-p3b-fetch-file-split-design.md
  packages/markitai/src/markitai/fetch.py
  packages/markitai/src/markitai/fetch_cache.py
  packages/markitai/src/markitai/fetch_types.py
  packages/markitai/tests/unit/test_fetch.py
  packages/markitai/tests/unit/test_fetch_cache_module.py
  packages/markitai/tests/unit/test_fetch_types.py
Due: pyright

Path conditions:
  sync-readme: any of: ^README\.md$
  pyright: any of: \.py$
