Repository Ynewtime/markitai: changes, and which pre-commit hooks are due for each by the changed paths.
All: sync-readme, pyright

sync-readme:
  name: sync README to package
  entry: bash -c 'cp README.md packages/markitai/README.md && git add packages/markitai/README.md'
  language: system
  pass_filenames: false

pyright:
  name: pyright
  entry: uv run pyright
  args:
  - packages/markitai/src
  language: system
  pass_filenames: false

refactor(scripts): simplify install output with cleaner status display
  scripts/lib.sh
  scripts/setup.sh
Due: none

refactor(scripts): simplify PowerShell install with cleaner status display
  scripts/lib.ps1
  scripts/setup.ps1
Due: none

docs: update quick start with interactive mode and doctor commands
  README.md
Due: sync-readme

fix(cli): use sys.argv[0] for interactive mode subprocess
  packages/markitai/src/markitai/cli/main.py
Due: pyright

fix(cli): uncheck alt and ocr by default in interactive mode
  packages/markitai/src/markitai/cli/interactive.py
Due: pyright

feat(cli): add output directory prompt in interactive mode
  packages/markitai/src/markitai/cli/interactive.py
  packages/markitai/tests/unit/cli/test_interactive.py
  uv.lock
Due: pyright

fix(cli): show warning when no LLM provider detected
  packages/markitai/src/markitai/cli/interactive.py
Due: pyright

fix(scripts): silence all package manager output in install scripts
  scripts/setup-dev-zh.ps1
  scripts/setup-dev-zh.sh
  scripts/setup-dev.ps1
  scripts/setup-dev.sh
  scripts/setup-zh.sh
Due: none

feat(scripts): add auto-detection and spinner for install scripts
  scripts/lib.sh
  scripts/setup-zh.sh
  scripts/setup.sh
Due: none

feat(scripts): apply clack-style UI to all install scripts
  scripts/lib.ps1
  scripts/lib.sh
  scripts/setup-dev-zh.ps1
  scripts/setup-dev-zh.sh
  scripts/setup-dev.ps1
  scripts/setup-dev.sh
  scripts/setup-zh.ps1
  scripts/setup-zh.sh
  scripts/setup.ps1
  scripts/setup.sh
Due: none

fix(scripts): use %b format for color escape sequences in clack_note/clack_log
  scripts/lib.sh
Due: none

fix(scripts): silence verbose uv and pre-commit output in dev scripts
  scripts/setup-dev-zh.ps1
  scripts/setup-dev-zh.sh
  scripts/setup-dev.ps1
  scripts/setup-dev.sh
Due: none

fix(scripts): remove unnecessary Node.js check from dev setup
  scripts/setup-dev-zh.ps1
  scripts/setup-dev-zh.sh
Due: none

fix(scripts): improve Playwright detection and simplify FFmpeg version output
  scripts/setup-dev-zh.ps1
  scripts/setup-dev-zh.sh
  scripts/setup-dev.sh
  scripts/setup-zh.sh
Due: none

fix(scripts): add Playwright pre-detection to dev shell scripts
  scripts/setup-dev-zh.sh
  scripts/setup-dev.sh
Due: none

fix(scripts): add LLM CLI pre-detection in shell scripts
  scripts/setup-dev-zh.sh
  scripts/setup-dev.sh
Due: none

fix(scripts): unify ps1 output format with sh scripts
  scripts/setup-dev-zh.ps1
  scripts/setup-dev.ps1
Due: none

fix(scripts): unify user edition output format
  scripts/setup-zh.ps1
  scripts/setup.ps1
  scripts/setup.sh
Due: none

fix(scripts): add clack-style summary to setup-dev.sh
  scripts/setup-dev.sh
Due: none

docs(plans): add script consolidation design
  docs/plans/2026-02-05-script-consolidation-design.md
Due: none

docs(plans): add script consolidation implementation plan
  docs/plans/2026-02-05-script-consolidation-plan.md
Due: none

feat(scripts): add setup.sh skeleton with i18n and clack UI
  scripts/setup.sh.new
Due: none

feat(scripts): add installation functions to setup.sh.new
  scripts/setup.sh.new
Due: none

feat(scripts): add installation functions to setup.sh
  scripts/setup.sh.new
Due: none

feat(scripts): add main logic to setup.sh
  scripts/setup.sh.new
Due: none

fix(scripts): support worktree in dev mode detection
  scripts/setup.sh.new
Due: none

fix(scripts): fix print_summary formatting issues
  scripts/setup.sh.new
Due: none

feat(scripts): consolidate 10 setup scripts into 2 unified files
  scripts/lib.ps1
  scripts/lib.sh
  scripts/setup-dev-zh.ps1
  scripts/setup-dev-zh.sh
  scripts/setup-dev.ps1
  scripts/setup-dev.sh
  scripts/setup-zh.ps1
  scripts/setup-zh.sh
  scripts/setup.ps1
  scripts/setup.sh
  scripts/setup.sh.new
Due: none

chore(scripts): remove obsolete test_scripts.sh
  scripts/test_scripts.sh
Due: none

feat(scripts): show installation mode at startup
  scripts/setup.ps1
  scripts/setup.sh
Due: none

docs: add CLI UX unified visual system design
  docs/plans/2026-02-05-cli-ux-design.md
Due: none

docs: add CLI UX implementation plan
  docs/plans/2026-02-05-cli-ux-implementation.md
Due: none

feat(cli): add unified UI components module
  packages/markitai/src/markitai/cli/ui.py
  packages/markitai/tests/unit/cli/test_ui.py
Due: pyright

feat(cli): add i18n module for multi-language support
  packages/markitai/src/markitai/cli/i18n.py
  packages/markitai/tests/unit/cli/test_i18n.py
Due: pyright

chore(cli): export ui and i18n modules
  packages/markitai/src/markitai/cli/__init__.py
Due: pyright

feat(cli): apply unified UI to cache, config, doctor commands
  packages/markitai/src/markitai/cli/commands/cache.py
  packages/markitai/src/markitai/cli/commands/config.py
  packages/markitai/src/markitai/cli/commands/doctor.py
  packages/markitai/src/markitai/cli/main.py
  packages/markitai/tests/unit/cli/test_doctor.py
  packages/markitai/tests/unit/test_cache_cli.py
  packages/markitai/tests/unit/test_cli_main.py
  packages/markitai/tests/unit/test_config_cli.py
  packages/markitai/tests/unit/test_deps_cli.py
  packages/markitai/tests/unit/test_doctor_cli.py
Due: pyright

docs: add CLI UX full redesign specification
  docs/plans/2026-02-05-cli-ux-full-redesign.md
Due: none

docs: add CLI UX full implementation plan
  docs/plans/2026-02-05-cli-ux-full-implementation.md
Due: none

refactor(log): change default log format to human-readable text
  packages/markitai/src/markitai/cli/logging_config.py
  packages/markitai/src/markitai/cli/main.py
  packages/markitai/src/markitai/config.py
  packages/markitai/src/markitai/config.schema.json
Due: pyright

Path conditions:
  sync-readme: any of: ^README\.md$
  pyright: any of: \.py$
