Repository Ynewtime/markitai: changes, and which pre-commit hooks are due for each by the changed paths.
All: sync-readme, pyright

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.14
    hooks:
      - id: ruff-check
        args: [--fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: sync-readme
        name: sync README to package
        entry: bash -c 'cp README.md packages/markitai/README.md && git add packages/markitai/README.md'
        language: system
        files: ^README\.md$
        pass_filenames: false

      - id: pyright
        name: pyright
        entry: uv run pyright
        args: [packages/markitai/src]
        language: system
        types: [python]
        pass_filenames: false

      - id: pytest
        name: pytest
        entry: uv run pytest -x -q -n auto
        language: system
        pass_filenames: false
        stages: [pre-push]

feat(fetch): implement policy-driven strategy selection, session persistence, and adaptive targeting
  docs/architecture.md
  docs/guide/fetch-policy.md
  packages/markitai/pyproject.toml
  packages/markitai/src/markitai/fetch.py
  packages/markitai/src/markitai/fetch_http.py
  packages/markitai/src/markitai/fetch_playwright.py
  packages/markitai/tests/unit/test_fetch.py
  packages/markitai/tests/unit/test_fetch_playwright.py
  uv.lock
Due: pyright

fix(fetch_playwright): force utf-8 for html markdown conversion
  packages/markitai/src/markitai/fetch_playwright.py
  packages/markitai/tests/unit/test_fetch_playwright.py
Due: pyright

fix(setup): use `uv tool upgrade` for existing installations
  scripts/setup.ps1
  scripts/setup.sh
Due: none

fix(setup): improve onboarding UX for .env config, interactive mode, and Windows execution policy
  README.md
  README_ZH.md
  packages/markitai/README.md
  packages/markitai/src/markitai/cli/commands/init.py
  packages/markitai/src/markitai/cli/interactive.py
  scripts/setup.ps1
  scripts/setup.sh
  website/guide/getting-started.md
  website/zh/guide/getting-started.md
Due: sync-readme, pyright

fix(providers): align Claude Agent SDK usage with official docs, add env var auth detection
  docs/ai-tools-setup.md
  packages/markitai/src/markitai/providers/auth.py
  packages/markitai/src/markitai/providers/claude_agent.py
  packages/markitai/tests/integration/test_local_providers.py
  packages/markitai/tests/unit/test_provider_auth.py
  website/guide/configuration.md
Due: pyright

release: v0.6.1 — Claude Agent SDK compliance, auth env var detection
  CHANGELOG.md
  docs/architecture.md
  packages/markitai/pyproject.toml
  packages/markitai/src/markitai/__init__.py
  pyproject.toml
  uv.lock
  website/guide/getting-started.md
  website/zh/guide/getting-started.md
Due: pyright

release: v0.7.0 — ChatGPT & Gemini CLI providers, router weight=0 fix
  CHANGELOG.md
  CLAUDE.md
  docs/architecture.md
  docs/archive/deps/gemini-cli-oauth.md
  docs/archive/deps/kreuzberg-exploration.md
  docs/archive/deps/kreuzberg_eval_report.md
  docs/archive/deps/litellm-chatgpt-subscription.md
  docs/plans/2026-03-05-env-var-and-subscription-providers-design.md
  packages/markitai/pyproject.toml
  packages/markitai/src/markitai/__init__.py
  packages/markitai/src/markitai/cli/interactive.py
  packages/markitai/src/markitai/cli/main.py
  packages/markitai/src/markitai/config.py
  packages/markitai/src/markitai/config.schema.json
  packages/markitai/src/markitai/llm/processor.py
  packages/markitai/src/markitai/providers/__init__.py
  packages/markitai/src/markitai/providers/auth.py
  packages/markitai/src/markitai/providers/chatgpt.py
  packages/markitai/src/markitai/providers/claude_agent.py
  packages/markitai/src/markitai/providers/copilot.py
  packages/markitai/src/markitai/providers/gemini_cli.py
  packages/markitai/tests/unit/cli/test_interactive.py
  packages/markitai/tests/unit/test_llm_processor.py
  packages/markitai/tests/unit/test_model_env_var.py
  packages/markitai/tests/unit/test_provider_auth.py
  packages/markitai/tests/unit/test_provider_chatgpt.py
  packages/markitai/tests/unit/test_provider_gemini_cli.py
  packages/markitai/tests/unit/test_providers.py
  pyproject.toml
  scripts/eval_kreuzberg.py
  uv.lock
  website/guide/configuration.md
  website/guide/getting-started.md
  website/zh/guide/configuration.md
  website/zh/guide/getting-started.md
Due: pyright

docs: update CLAUDE.md with stable codebase patterns, sync agent instructions
  .cursorrules
  .github/copilot-instructions.md
  .pre-commit-config.yaml
  AGENTS.md
  CLAUDE.md
Due: none

ci: add workflow_dispatch trigger to CI workflow
  .github/workflows/ci.yml
Due: none

docs: add design for frontmatter generation failover fixes
  docs/plans/2026-03-08-frontmatter-generation-failover-design.md
Due: none

docs: add implementation plan for frontmatter failover fixes
  docs/plans/2026-03-08-frontmatter-generation-failover-design.md
Due: none

fix: migrate batch state files to .markitai/states namespace
  packages/markitai/src/markitai/batch.py
  packages/markitai/tests/unit/test_batch_processor.py
Due: pyright

fix: resolve Gemini auth email via Google userinfo API fallback
  packages/markitai/src/markitai/providers/auth.py
Due: pyright

fix: sync config, CLI, and documentation with codebase state
  .cursorrules
  .github/copilot-instructions.md
  AGENTS.md
  CLAUDE.md
  packages/markitai/src/markitai/batch.py
  packages/markitai/src/markitai/cli/framework.py
  packages/markitai/src/markitai/config.schema.json
  packages/markitai/src/markitai/constants.py
Due: pyright

fix: complete deep audit — schema defaults, docs sync, docstring fix
  README.md
  README_ZH.md
  docs/architecture.md
  docs/spec.md
  packages/markitai/README.md
  packages/markitai/src/markitai/cli/processors/url.py
  packages/markitai/src/markitai/config.schema.json
  packages/markitai/tests/unit/test_schema_sync.py
Due: sync-readme, pyright

release: v0.9.0 — configurable fetch strategy priority, domain/IP exemption, LLM language consistency
  CHANGELOG.md
  README.md
  README_ZH.md
  docs/architecture.md
  docs/plans/2026-03-09-fetch-strategy-priority-and-exemption.md
  packages/markitai/README.md
  packages/markitai/pyproject.toml
  packages/markitai/src/markitai/__init__.py
  packages/markitai/src/markitai/config.py
  packages/markitai/src/markitai/config.schema.json
  packages/markitai/src/markitai/constants.py
  packages/markitai/src/markitai/fetch.py
  packages/markitai/src/markitai/fetch_policy.py
  packages/markitai/src/markitai/prompts/cleaner_system.md
  packages/markitai/src/markitai/prompts/document_process_system.md
  packages/markitai/src/markitai/prompts/page_content_system.md
  packages/markitai/src/markitai/prompts/screenshot_extract_system.md
  packages/markitai/src/markitai/prompts/url_enhance_system.md
  packages/markitai/tests/unit/test_config.py
  packages/markitai/tests/unit/test_fetch.py
  packages/markitai/tests/unit/test_fetch_policy.py
  packages/markitai/tests/unit/test_schema_sync.py
  pyproject.toml
  uv.lock
  website/guide/getting-started.md
  website/zh/guide/getting-started.md
Due: sync-readme, pyright

fix: catch OSError from cairosvg import on Windows/macOS CI
  packages/markitai/src/markitai/llm/processor.py
Due: pyright

fix: provider auth preflight, install scripts extras parsing and resilience
  packages/markitai/src/markitai/cli/commands/doctor.py
  packages/markitai/src/markitai/cli/main.py
  packages/markitai/src/markitai/providers/auth.py
  packages/markitai/tests/unit/test_doctor_cli.py
  packages/markitai/tests/unit/test_provider_auth.py
  scripts/setup.ps1
  scripts/setup.sh
Due: pyright

release: v0.9.1 — provider auth preflight, install scripts extras parsing and resilience
  CHANGELOG.md
  packages/markitai/pyproject.toml
  packages/markitai/src/markitai/__init__.py
  pyproject.toml
  uv.lock
  website/guide/getting-started.md
  website/zh/guide/getting-started.md
Due: pyright

fix: prevent interactive OAuth during LLM calls — fail fast instead of blocking
  packages/markitai/src/markitai/cli/main.py
  packages/markitai/src/markitai/providers/auth.py
  packages/markitai/src/markitai/providers/chatgpt.py
  packages/markitai/src/markitai/providers/gemini_cli.py
  packages/markitai/tests/unit/test_provider_auth.py
  packages/markitai/tests/unit/test_provider_chatgpt.py
  packages/markitai/tests/unit/test_provider_gemini_cli.py
Due: pyright

fix: copilot login, error message clarity, pyright warnings
  packages/markitai/src/markitai/batch.py
  packages/markitai/src/markitai/cli/main.py
  packages/markitai/src/markitai/cli/output_manager.py
  packages/markitai/src/markitai/cli/processors/file.py
  packages/markitai/src/markitai/cli/processors/url.py
  packages/markitai/src/markitai/fetch.py
  packages/markitai/src/markitai/llm/processor.py
  packages/markitai/src/markitai/providers/auth.py
  packages/markitai/src/markitai/providers/gemini_cli.py
  packages/markitai/src/markitai/providers/oauth_display.py
  packages/markitai/src/markitai/providers/subprocess_interceptor.py
  packages/markitai/src/markitai/utils/progress.py
  packages/markitai/src/markitai/utils/text.py
  packages/markitai/src/markitai/webextract/__init__.py
  packages/markitai/src/markitai/webextract/elements/code.py
  packages/markitai/src/markitai/webextract/extractors/base.py
  packages/markitai/src/markitai/webextract/metadata.py
  packages/markitai/src/markitai/webextract/pipeline.py
  packages/markitai/src/markitai/webextract/scoring.py
  packages/markitai/src/markitai/workflow/core.py
  packages/markitai/src/markitai/workflow/helpers.py
  packages/markitai/tests/unit/test_oauth_display.py
  packages/markitai/tests/unit/test_output_manager.py
  packages/markitai/tests/unit/test_provider_auth.py
  packages/markitai/tests/unit/test_provider_gemini_cli.py
  packages/markitai/tests/unit/test_subprocess_interceptor.py
  packages/markitai/tests/unit/test_utils_text.py
Due: pyright

release: v0.9.2 — copilot login, error message clarity, pyright warnings
  CHANGELOG.md
  packages/markitai/pyproject.toml
  packages/markitai/src/markitai/__init__.py
  pyproject.toml
  uv.lock
  website/guide/getting-started.md
  website/zh/guide/getting-started.md
Due: pyright

fix: image alt text language context, empty caption fallback, stabilize ordering
  packages/markitai/src/markitai/llm/vision.py
  packages/markitai/src/markitai/prompts/image_analysis_system.md
  packages/markitai/src/markitai/prompts/image_analysis_user.md
  packages/markitai/src/markitai/prompts/image_caption_system.md
  packages/markitai/src/markitai/prompts/image_caption_user.md
  packages/markitai/src/markitai/prompts/image_description_system.md
  packages/markitai/src/markitai/prompts/image_description_user.md
  packages/markitai/src/markitai/workflow/core.py
  packages/markitai/src/markitai/workflow/single.py
  packages/markitai/tests/unit/test_llm.py
  packages/markitai/tests/unit/test_vision_mixin.py
  packages/markitai/tests/unit/test_workflow_core.py
  packages/markitai/tests/unit/test_workflow_single.py
Due: pyright

fix: address review findings — cache correctness, batch screenshot, workflow ordering, perf
  docs/2026-03-11-project-implementation-review.md
  docs/2026-03-12-project-implementation-review.md
  docs/archive/deps/model_prices_and_context_window.json
  packages/markitai/src/markitai/cli/commands/doctor.py
  packages/markitai/src/markitai/cli/commands/init.py
  packages/markitai/src/markitai/cli/interactive.py
  packages/markitai/src/markitai/cli/main.py
  packages/markitai/src/markitai/cli/processors/file.py
  packages/markitai/src/markitai/cli/processors/url.py
  packages/markitai/src/markitai/converter/office.py
  packages/markitai/src/markitai/converter/pdf.py
  packages/markitai/src/markitai/fetch.py
  packages/markitai/src/markitai/fetch_http.py
  packages/markitai/src/markitai/fetch_playwright.py
  packages/markitai/src/markitai/fetch_policy.py
  packages/markitai/src/markitai/image.py
  packages/markitai/src/markitai/llm/cache.py
  packages/markitai/src/markitai/llm/vision.py
  packages/markitai/src/markitai/ocr.py
  packages/markitai/src/markitai/webextract/pipeline.py
  packages/markitai/src/markitai/webextract/scoring.py
  packages/markitai/src/markitai/workflow/core.py
  packages/markitai/tests/unit/cli/test_doctor.py
  packages/markitai/tests/unit/cli/test_file_processor.py
  packages/markitai/tests/unit/cli/test_init.py
  packages/markitai/tests/unit/cli/test_interactive.py
  packages/markitai/tests/unit/cli/test_main.py
  packages/markitai/tests/unit/cli/test_url_batch_screenshot.py
  packages/markitai/tests/unit/test_cache_key_issues.py
  packages/markitai/tests/unit/test_converter_pdf.py
  packages/markitai/tests/unit/test_converter_pptx.py
  packages/markitai/tests/unit/test_fetch.py
  packages/markitai/tests/unit/test_image.py
  packages/markitai/tests/unit/test_llm_processor.py
  packages/markitai/tests/unit/test_ocr.py
  packages/markitai/tests/unit/test_workflow_core.py
  packages/markitai/tests/unit/webextract/test_pipeline.py
  packages/markitai/tests/unit/webextract/test_scoring.py
Due: pyright

fix: disable pymupdf4llm builtin OCR to suppress misleading Tesseract warnings
  docs/plans/2026-03-12-pdf-ocr-warning-and-url-image-drift-review-plan.md
  packages/markitai/src/markitai/converter/pdf.py
  packages/markitai/tests/unit/test_converter_pdf.py
  uv.lock
Due: pyright

fix: preserve image positions in standard LLM document flow
  packages/markitai/src/markitai/llm/content.py
  packages/markitai/src/markitai/llm/document.py
  packages/markitai/tests/unit/test_document_utils.py
Due: pyright

test: add CLI-level regression test for image position in .llm.md output
  packages/markitai/tests/unit/test_llm_processor_cli.py
Due: pyright

fix: harden vision URL path with image placeholder fallback
  packages/markitai/src/markitai/llm/document.py
Due: pyright

fix: prefer defuddle/jina over playwright for SPA domains
  packages/markitai/src/markitai/fetch_policy.py
Due: pyright

fix: filter unreliable language field from external source metadata
  packages/markitai/src/markitai/utils/frontmatter.py
  packages/markitai/src/markitai/workflow/helpers.py
  packages/markitai/tests/unit/test_frontmatter.py
  packages/markitai/tests/unit/test_workflow_helpers.py
Due: pyright

test: align SPA ordering tests with defuddle-first strategy
  packages/markitai/tests/unit/test_fetch.py
Due: pyright

feat: add optional language field to Frontmatter model, strengthen image placeholder prompts
  packages/markitai/src/markitai/llm/document.py
  packages/markitai/src/markitai/llm/types.py
  packages/markitai/src/markitai/prompts/cleaner_system.md
  packages/markitai/src/markitai/prompts/document_process_system.md
  packages/markitai/src/markitai/utils/frontmatter.py
  packages/markitai/tests/unit/test_document_utils.py
  packages/markitai/tests/unit/test_frontmatter.py
Due: pyright

fix: residual placeholder cleanup was stripping image position placeholders
  packages/markitai/src/markitai/llm/content.py
  packages/markitai/tests/unit/test_llm_content.py
Due: pyright

fix: disable pre-LLM deduplication by default to preserve original content
  packages/markitai/src/markitai/workflow/helpers.py
  packages/markitai/tests/unit/test_workflow_helpers.py
Due: pyright

revert: remove LLM-generated language field from Frontmatter
  packages/markitai/src/markitai/llm/document.py
  packages/markitai/src/markitai/llm/types.py
  packages/markitai/src/markitai/prompts/document_process_system.md
  packages/markitai/src/markitai/utils/frontmatter.py
  packages/markitai/tests/unit/test_document_utils.py
  packages/markitai/tests/unit/test_frontmatter.py
Due: pyright

fix: strip frontmatter before extracting image analysis document context
  packages/markitai/src/markitai/workflow/helpers.py
  packages/markitai/src/markitai/workflow/single.py
  packages/markitai/tests/unit/test_workflow_helpers.py
Due: pyright

fix: interactive mode shows actual configured models instead of auto-detected provider
  .vscode/settings.json
  docs/plans/2026-03-12-auto-detect-llm-providers.md
  packages/markitai/src/markitai/cli/interactive.py
  packages/markitai/tests/unit/cli/test_interactive.py
Due: pyright
