Repository Ynewtime/markitai: changes, and which pre-commit hooks are due for each by the changed paths.
All: sync-readme, pyright

sync-readme:
  name: sync README to package
  entry: bash -c 'cp README.md packages/markitai/README.md && git add packages/markitai/README.md'
  language: system
  pass_filenames: false

pyright:
  name: pyright
  entry: uv run pyright
  args:
  - packages/markitai/src
  language: system
  pass_filenames: false

fix(cli): run image analysis in every URL branch that downloads images
  CHANGELOG.md
  CHANGELOG.zh.md
  packages/markitai/src/markitai/cli/processors/file.py
  packages/markitai/src/markitai/cli/processors/url.py
  packages/markitai/tests/unit/cli/test_file_processor.py
  packages/markitai/tests/unit/test_url_processor.py
Due: pyright

fix(llm): repair bare-payload JSON shapes from batch image analysis
  CHANGELOG.md
  CHANGELOG.zh.md
  packages/markitai/src/markitai/llm/document.py
  packages/markitai/tests/unit/test_document_utils.py
Due: pyright

fix(llm): keep social-post bodies verbatim; pin structure rules in prompt
  CHANGELOG.md
  CHANGELOG.zh.md
  packages/markitai/src/markitai/llm/document.py
  packages/markitai/src/markitai/prompts/document_process_system.md
  packages/markitai/tests/unit/test_document_utils.py
  packages/markitai/tests/unit/test_prompts.py
Due: pyright

docs(website): note social-post verbatim body under --llm
  website/guide/cli.md
  website/zh/guide/cli.md
Due: none

fix(providers): make ChatGPT transport errors retryable with readable messages
  CHANGELOG.md
  CHANGELOG.zh.md
  packages/markitai/src/markitai/providers/chatgpt.py
  packages/markitai/tests/unit/test_providers.py
Due: pyright

fix(cli): route console logs through rich console; filter quiet-mode noise
  CHANGELOG.md
  CHANGELOG.zh.md
  packages/markitai/src/markitai/cli/logging_config.py
  packages/markitai/tests/unit/test_logging_config.py
Due: pyright

fix(llm): mark fallback frontmatter as degraded output
  CHANGELOG.md
  CHANGELOG.zh.md
  packages/markitai/src/markitai/llm/document.py
  packages/markitai/tests/unit/test_document_utils.py
Due: pyright

feat(fetch): default remote consent to always; pause Live around prompts
  CHANGELOG.md
  CHANGELOG.zh.md
  packages/markitai/src/markitai/__init__.py
  packages/markitai/src/markitai/cli/ui.py
  packages/markitai/src/markitai/config.py
  packages/markitai/src/markitai/config.schema.json
  packages/markitai/src/markitai/fetch.py
  packages/markitai/src/markitai/fetch_policy.py
  packages/markitai/tests/unit/test_fetch_policy.py
  packages/markitai/tests/unit/test_remote_consent.py
  packages/markitai/tests/unit/test_ui_suspend.py
  pyproject.toml
  uv.lock
Due: pyright

docs: slim changelog history
  CHANGELOG.md
  CHANGELOG.zh.md
Due: none

test: guard Optional await_args access for pyright
  packages/markitai/tests/unit/test_url_processor.py
Due: pyright

fix(config): redact secrets in config list
  packages/markitai/src/markitai/cli/commands/config.py
  packages/markitai/tests/unit/test_config_cli.py
Due: pyright

fix(fetch): enforce remote URL privacy boundaries
  CHANGELOG.md
  CHANGELOG.zh.md
  packages/markitai/src/markitai/cli/logging_config.py
  packages/markitai/src/markitai/config.py
  packages/markitai/src/markitai/config.schema.json
  packages/markitai/src/markitai/fetch.py
  packages/markitai/src/markitai/fetch_playwright.py
  packages/markitai/src/markitai/fetch_policy.py
  packages/markitai/tests/unit/test_fetch_playwright.py
  packages/markitai/tests/unit/test_fetch_policy.py
  packages/markitai/tests/unit/test_remote_consent.py
  website/guide/fetch-policy.md
  website/zh/guide/fetch-policy.md
Due: pyright

fix(doctor): make health checks and repairs truthful
  packages/markitai/src/markitai/cli/commands/doctor.py
  packages/markitai/src/markitai/cli/i18n.py
  packages/markitai/src/markitai/cli/ui.py
  packages/markitai/tests/unit/cli/test_doctor.py
  packages/markitai/tests/unit/cli/test_i18n.py
  packages/markitai/tests/unit/cli/test_ui.py
  packages/markitai/tests/unit/test_deps_cli.py
  packages/markitai/tests/unit/test_doctor_cli.py
Due: pyright

fix(cli): align quiet output errors and onboarding
  .env.example
  README.md
  packages/markitai/src/markitai/cli/logging_config.py
  packages/markitai/src/markitai/cli/main.py
  packages/markitai/src/markitai/cli/processors/batch.py
  packages/markitai/src/markitai/cli/processors/file.py
  packages/markitai/src/markitai/cli/processors/url.py
  packages/markitai/src/markitai/utils/cli_helpers.py
  packages/markitai/src/markitai/utils/url_redaction.py
  packages/markitai/tests/integration/test_cli.py
  packages/markitai/tests/integration/test_output_format.py
  packages/markitai/tests/integration/test_real_scenarios.py
  packages/markitai/tests/unit/cli/test_file_processor.py
  packages/markitai/tests/unit/test_cli_helpers.py
  packages/markitai/tests/unit/test_logging_config.py
  packages/markitai/tests/unit/test_url_processor.py
  website/.vitepress/config.ts
  website/.vitepress/theme/custom.css
  website/guide/cli.md
  website/guide/configuration.md
  website/guide/getting-started.md
  website/index.md
  website/zh/guide/cli.md
  website/zh/guide/configuration.md
  website/zh/guide/getting-started.md
  website/zh/index.md
Due: sync-readme, pyright

fix(init): keep existing config by default
  packages/markitai/src/markitai/cli/commands/init.py
  packages/markitai/tests/unit/cli/test_init.py
Due: pyright

docs: refresh unreleased changelog
  CHANGELOG.md
  CHANGELOG.zh.md
Due: none

fix(fetch): resolve DNS and redact path tokens before remote dispatch
  packages/markitai/src/markitai/fetch.py
  packages/markitai/src/markitai/fetch_playwright.py
  packages/markitai/src/markitai/fetch_policy.py
  packages/markitai/src/markitai/utils/url_redaction.py
  packages/markitai/tests/conftest.py
  packages/markitai/tests/unit/test_fetch_playwright.py
  packages/markitai/tests/unit/test_fetch_policy.py
  packages/markitai/tests/unit/test_remote_consent.py
  packages/markitai/tests/unit/test_url_redaction.py
Due: pyright

feat(office): fall back to MS Office on macOS without LibreOffice
  packages/markitai/src/markitai/cli/commands/doctor.py
  packages/markitai/src/markitai/config.py
  packages/markitai/src/markitai/config.schema.json
  packages/markitai/src/markitai/converter/legacy.py
  packages/markitai/src/markitai/converter/office.py
  packages/markitai/src/markitai/utils/office_mac.py
  packages/markitai/tests/unit/cli/test_doctor.py
  packages/markitai/tests/unit/test_deps_cli.py
  packages/markitai/tests/unit/test_office_mac.py
  website/guide/cli.md
  website/guide/configuration.md
  website/guide/getting-started.md
  website/zh/guide/cli.md
  website/zh/guide/configuration.md
  website/zh/guide/getting-started.md
Due: pyright

fix(setup): keep non-interactive installs core-only and honor rerun intent
  packages/markitai/tests/unit/test_setup_script_guards.py
  scripts/setup.ps1
  scripts/setup.sh
  website/guide/getting-started.md
  website/zh/guide/getting-started.md
Due: pyright

feat(providers): price gpt-5.6-luna, keep GA models as onboarding defaults
  packages/markitai/src/markitai/constants.py
  packages/markitai/tests/unit/cli/test_init.py
  packages/markitai/tests/unit/test_providers.py
Due: pyright

docs(website): platform-aware install onboarding and live-page example
  website/.vitepress/config.ts
  website/.vitepress/theme/custom.css
  website/guide/getting-started.md
  website/index.md
  website/package.json
  website/pnpm-lock.yaml
  website/public/favicon.ico
  website/zh/guide/getting-started.md
  website/zh/index.md
Due: none

chore(release): 0.20.0
  CHANGELOG.md
  CHANGELOG.zh.md
  packages/markitai/pyproject.toml
  packages/markitai/src/markitai/__init__.py
  pyproject.toml
  uv.lock
  website/guide/getting-started.md
  website/zh/guide/getting-started.md
Due: pyright

chore: keep docs/ as local-only working notes
  .gitignore
  docs/redesign-vision-2026-07-08.md
  docs/user-journey.md
Due: none

fix(tests): skip Unix-only office_mac suite on Windows
  packages/markitai/tests/unit/test_office_mac.py
Due: pyright

ci(publish): gate releases on the full OS/Python test matrix
  .github/workflows/publish.yml
Due: none

build(arch): enforce import-layer contracts with import-linter
  .github/workflows/ci.yml
  pyproject.toml
  uv.lock
Due: none

refactor(arch): route fetch consent through an interaction port
  packages/markitai/src/markitai/cli/main.py
  packages/markitai/src/markitai/cli/ui.py
  packages/markitai/src/markitai/fetch.py
  packages/markitai/src/markitai/ports.py
  packages/markitai/tests/unit/test_ports.py
  packages/markitai/tests/unit/test_remote_consent.py
  pyproject.toml
Due: pyright

refactor(arch): decouple the batch engine from the CLI layer
  packages/markitai/src/markitai/batch.py
  packages/markitai/src/markitai/cli/console.py
  packages/markitai/src/markitai/cli/logging_config.py
  packages/markitai/src/markitai/cli/processors/batch.py
  packages/markitai/src/markitai/cli/ui.py
  packages/markitai/src/markitai/utils/term.py
  pyproject.toml
Due: pyright

refactor(arch): move the html-to-markdown renderer into webextract
  packages/markitai/src/markitai/converter/webextract_html_converter.py
  packages/markitai/src/markitai/webextract/html_to_markdown.py
  packages/markitai/src/markitai/webextract/pipeline.py
  packages/markitai/tests/unit/webextract/test_webextract_markdown_converter.py
  pyproject.toml
Due: pyright

fix(tests): repoint console-singleton monkeypatches at utils.term
  packages/markitai/tests/unit/test_logging_config.py
Due: pyright

refactor(arch): detach ConfigFileError from the click framework
  packages/markitai/src/markitai/cli/framework.py
  packages/markitai/src/markitai/config.py
  packages/markitai/tests/unit/test_config.py
Due: pyright

fix(cli): translate ConfigFileError raised inside the -I wizard
  CONTRIBUTING.md
  packages/markitai/src/markitai/cli/main.py
  packages/markitai/src/markitai/cli/ui.py
  packages/markitai/tests/unit/cli/test_main.py
  packages/markitai/tests/unit/test_import_contracts.py
Due: pyright

feat(llm): add LLMEngine, the single structured-call pipeline
  packages/markitai/src/markitai/llm/document.py
  packages/markitai/src/markitai/llm/engine.py
  packages/markitai/tests/unit/test_llm_engine.py
Due: pyright

refactor(llm): route all five structured call sites through LLMEngine
  packages/markitai/src/markitai/llm/document.py
  packages/markitai/src/markitai/llm/engine.py
  packages/markitai/src/markitai/llm/processor.py
  packages/markitai/src/markitai/llm/vision.py
  packages/markitai/tests/unit/test_degeneration.py
  packages/markitai/tests/unit/test_document_utils.py
  packages/markitai/tests/unit/test_fetch.py
  packages/markitai/tests/unit/test_llm.py
  packages/markitai/tests/unit/test_llm_engine.py
  packages/markitai/tests/unit/test_vision_mixin.py
Due: pyright

refactor(llm): fold the text-completion transport into LLMEngine
  packages/markitai/src/markitai/constants.py
  packages/markitai/src/markitai/llm/document.py
  packages/markitai/src/markitai/llm/engine.py
  packages/markitai/src/markitai/llm/processor.py
  packages/markitai/tests/unit/test_llm.py
Due: pyright

refactor(llm): replace processor mixins with composed services
  packages/markitai/src/markitai/llm/document.py
  packages/markitai/src/markitai/llm/engine.py
  packages/markitai/src/markitai/llm/processor.py
  packages/markitai/src/markitai/llm/vision.py
  packages/markitai/tests/unit/test_cache_key_issues.py
  packages/markitai/tests/unit/test_content_dedup.py
  packages/markitai/tests/unit/test_degeneration.py
  packages/markitai/tests/unit/test_document_utils.py
  packages/markitai/tests/unit/test_llm.py
  packages/markitai/tests/unit/test_llm_processor.py
  packages/markitai/tests/unit/test_vision_fallback.py
  packages/markitai/tests/unit/test_vision_mixin.py
Due: pyright

fix(llm): make the persistent cache actually hit across sessions
  packages/markitai/src/markitai/llm/document.py
  packages/markitai/src/markitai/llm/engine.py
  packages/markitai/src/markitai/llm/models.py
  packages/markitai/src/markitai/llm/processor.py
  packages/markitai/src/markitai/llm/vision.py
  packages/markitai/tests/unit/test_cache_key_issues.py
  packages/markitai/tests/unit/test_document_utils.py
  packages/markitai/tests/unit/test_llm.py
  packages/markitai/tests/unit/test_llm_engine.py
  packages/markitai/tests/unit/test_llm_models.py
  packages/markitai/tests/unit/test_vision_mixin.py
Due: pyright

Path conditions:
  sync-readme: any of: ^README\.md$
  pyright: any of: \.py$
