Repository Ynewtime/markitai: changes, and which pre-commit hooks are due for each by the changed paths.
All: sync-readme, pyright

sync-readme:
  name: sync README to package
  entry: bash -c 'cp README.md packages/markitai/README.md && git add packages/markitai/README.md'
  language: system
  pass_filenames: false

pyright:
  name: pyright
  entry: uv run pyright
  args:
  - packages/markitai/src
  language: system
  pass_filenames: false

fix(llm): exclude disabled models from the cache-pool fingerprint
  packages/markitai/src/markitai/llm/models.py
  packages/markitai/tests/unit/test_llm_models.py
Due: pyright

refactor(fetch): gather module-global state into FetchSession
  packages/markitai/src/markitai/fetch.py
  packages/markitai/src/markitai/fetch_consent.py
  packages/markitai/src/markitai/fetch_playwright.py
  packages/markitai/src/markitai/fetch_screenshot.py
  packages/markitai/src/markitai/fetch_session.py
  packages/markitai/tests/unit/test_cli_helpers.py
  packages/markitai/tests/unit/test_fetch.py
  packages/markitai/tests/unit/test_fetch_fallback.py
  packages/markitai/tests/unit/test_fetch_playwright.py
  packages/markitai/tests/unit/test_ports.py
  pyproject.toml
Due: pyright

refactor(fetch): unify both dispatchers over StrategyRunner objects
  packages/markitai/src/markitai/fetch.py
Due: pyright

refactor(fetch): split strategy implementations into fetch_strategies/
  packages/markitai/src/markitai/fetch.py
  packages/markitai/src/markitai/fetch_strategies/__init__.py
  packages/markitai/src/markitai/fetch_strategies/_shared.py
  packages/markitai/src/markitai/fetch_strategies/cloudflare.py
  packages/markitai/src/markitai/fetch_strategies/defuddle.py
  packages/markitai/src/markitai/fetch_strategies/jina.py
  packages/markitai/src/markitai/fetch_strategies/playwright.py
  packages/markitai/src/markitai/fetch_strategies/static.py
  packages/markitai/src/markitai/fetch_support.py
  packages/markitai/tests/integration/test_cli.py
  packages/markitai/tests/unit/test_fetch.py
  packages/markitai/tests/unit/test_fetch_fallback.py
  packages/markitai/tests/unit/test_remote_consent.py
  pyproject.toml
Due: pyright

feat(runs): single-source the report schema and exit-code matrix
  packages/markitai/src/markitai/cli/processors/batch.py
  packages/markitai/src/markitai/cli/processors/file.py
  packages/markitai/src/markitai/cli/processors/url.py
  packages/markitai/src/markitai/runs/__init__.py
  packages/markitai/src/markitai/runs/report.py
  packages/markitai/src/markitai/runs/types.py
  pyproject.toml
Due: pyright

refactor(runs): share the single-path output skeleton
  packages/markitai/src/markitai/cli/processors/__init__.py
  packages/markitai/src/markitai/cli/processors/file.py
  packages/markitai/src/markitai/cli/processors/url.py
  packages/markitai/src/markitai/runs/__init__.py
  packages/markitai/src/markitai/runs/output.py
Due: pyright

refactor(cli): unify the two URL-batch implementations
  packages/markitai/src/markitai/batch.py
  packages/markitai/src/markitai/cli/processors/batch.py
  packages/markitai/src/markitai/cli/processors/url.py
  packages/markitai/tests/unit/cli/test_url_batch_screenshot.py
Due: pyright

refactor(cli): single-source the URL LLM cascade bodies and report shell
  packages/markitai/src/markitai/batch.py
  packages/markitai/src/markitai/cli/processors/batch.py
  packages/markitai/src/markitai/cli/processors/url.py
  packages/markitai/src/markitai/runs/__init__.py
  packages/markitai/src/markitai/runs/report.py
Due: pyright

fix(office): bind Office documents by name, not open's return value
  packages/markitai/src/markitai/utils/office_mac.py
  packages/markitai/tests/unit/test_office_mac.py
Due: pyright

fix(office): surface document-registration stalls as actionable errors
  packages/markitai/src/markitai/utils/office_mac.py
Due: pyright

refactor(xls): convert legacy .xls in pure Python via xlrd
  CHANGELOG.md
  CHANGELOG.zh.md
  packages/markitai/src/markitai/cli/commands/doctor.py
  packages/markitai/src/markitai/cli/processors/batch.py
  packages/markitai/src/markitai/converter/__init__.py
  packages/markitai/src/markitai/converter/base.py
  packages/markitai/src/markitai/converter/legacy.py
  packages/markitai/src/markitai/converter/office.py
  packages/markitai/src/markitai/utils/office.py
  packages/markitai/src/markitai/utils/office_mac.py
  packages/markitai/src/markitai/workflow/core.py
  packages/markitai/tests/unit/test_converter_xls.py
  packages/markitai/tests/unit/test_office_mac.py
  website/guide/configuration.md
  website/guide/getting-started.md
  website/zh/guide/configuration.md
  website/zh/guide/getting-started.md
Due: pyright

fix(office): recover Word opens dropped by Office's post-update first launch
  CHANGELOG.md
  CHANGELOG.zh.md
  packages/markitai/src/markitai/utils/office_mac.py
  packages/markitai/tests/unit/test_office_mac.py
Due: pyright

build(hooks): run the import-layer contracts in pre-commit
  .pre-commit-config.yaml
Due: none

fix(auth): keep Copilot status readable across CLI config formats
  packages/markitai/src/markitai/cli/commands/auth.py
  packages/markitai/src/markitai/providers/auth.py
  packages/markitai/tests/unit/test_auth_cli.py
  packages/markitai/tests/unit/test_provider_auth.py
Due: pyright

build(python): drop 3.14 support and smoke-test the built wheel in CI
  .github/workflows/ci.yml
  .github/workflows/publish.yml
  CONTRIBUTING.md
  README.md
  packages/markitai/pyproject.toml
  packages/markitai/tests/unit/test_setup_script_guards.py
  pyproject.toml
  scripts/setup.ps1
  scripts/setup.sh
  uv.lock
Due: sync-readme, pyright

chore(release): 0.21.0
  CHANGELOG.md
  CHANGELOG.zh.md
  packages/markitai/src/markitai/__init__.py
  pyproject.toml
  uv.lock
Due: pyright

docs(skills): refresh agent skills for 0.21.0
  skills/markitai-convert/SKILL.md
  skills/markitai-convert/references/cli.md
  skills/markitai-convert/references/url-fetching.md
  skills/markitai-dev/SKILL.md
  skills/markitai-release/SKILL.md
  skills/markitai-setup/SKILL.md
  skills/markitai-setup/references/providers.md
Due: none

fix(setup): correct the LibreOffice purpose copy in both installers
  scripts/setup.ps1
  scripts/setup.sh
Due: none

fix(deps): exclude litellm 1.92.0 (manylinux-only wheels)
  CHANGELOG.md
  CHANGELOG.zh.md
  packages/markitai/pyproject.toml
  packages/markitai/src/markitai/__init__.py
  pyproject.toml
  uv.lock
Due: pyright

fix(pdf): analyze embedded images for filenames with spaces
  CHANGELOG.md
  packages/markitai/src/markitai/converter/pdf.py
  packages/markitai/src/markitai/utils/text.py
  packages/markitai/src/markitai/workflow/core.py
  packages/markitai/tests/unit/test_converter_pdf.py
  packages/markitai/tests/unit/test_utils_text.py
  packages/markitai/tests/unit/test_workflow_core.py
Due: pyright

feat(serve): retry, diff view, and web UI workflow features
  packages/markitai/src/markitai/serve/app.py
  packages/markitai/src/markitai/serve/schemas.py
  packages/markitai/tests/conftest.py
  packages/markitai/tests/unit/serve/test_serve_api.py
  packages/markitai/tests/unit/serve/test_serve_settings.py
  webapp/.gitignore
  webapp/src/App.tsx
  webapp/src/api/client.ts
  webapp/src/api/types.ts
  webapp/src/components/CliCommand.tsx
  webapp/src/components/DropZone.tsx
  webapp/src/components/ItemList.tsx
  webapp/src/components/ItemRow.tsx
  webapp/src/components/MarkdownPreview.tsx
  webapp/src/components/OptionsBar.tsx
  webapp/src/components/SettingsModal.tsx
  webapp/src/components/UrlInput.tsx
  webapp/src/components/icons.tsx
  webapp/src/hooks/useJobs.ts
  webapp/src/i18n.ts
  webapp/src/lib/cli.ts
  webapp/src/lib/diff.ts
  webapp/src/lib/fileTree.ts
  webapp/src/lib/format.ts
  webapp/src/lib/notify.ts
  webapp/src/styles/app.css
Due: pyright

feat(serve): add live provider model discovery
  packages/markitai/src/markitai/cli/commands/init.py
  packages/markitai/src/markitai/cli/commands/serve.py
  packages/markitai/src/markitai/config.py
  packages/markitai/src/markitai/providers/auth.py
  packages/markitai/src/markitai/providers/discovery.py
  packages/markitai/src/markitai/serve/app.py
  packages/markitai/src/markitai/serve/schemas.py
  packages/markitai/tests/unit/serve/test_serve_api.py
  packages/markitai/tests/unit/serve/test_serve_settings.py
  packages/markitai/tests/unit/test_provider_discovery.py
Due: pyright

feat(webapp): redesign task and LLM settings flows
  .github/workflows/ci.yml
  webapp/package.json
  webapp/pnpm-lock.yaml
  webapp/src/App.test.tsx
  webapp/src/App.tsx
  webapp/src/api/client.ts
  webapp/src/api/types.ts
  webapp/src/components/AppHeader.tsx
  webapp/src/components/ArchivedJobsSection.test.tsx
  webapp/src/components/ArchivedJobsSection.tsx
  webapp/src/components/DownloadActions.tsx
  webapp/src/components/HistoryView.tsx
  webapp/src/components/ItemList.tsx
  webapp/src/components/ItemRow.tsx
  webapp/src/components/JobStats.test.tsx
  webapp/src/components/JobStats.tsx
  webapp/src/components/MarkdownPreview.tsx
  webapp/src/components/PreviewModal.test.tsx
  webapp/src/components/PreviewModal.tsx
  webapp/src/components/SettingsModal.test.tsx
  webapp/src/components/SettingsModal.tsx
  webapp/src/components/UrlInput.test.tsx
  webapp/src/components/UrlInput.tsx
  webapp/src/components/icons.tsx
  webapp/src/components/settings/ModelPicker.tsx
  webapp/src/components/settings/ProviderPicker.tsx
  webapp/src/hooks/useArchivedJobs.ts
  webapp/src/hooks/useJobs.ts
  webapp/src/i18n.ts
  webapp/src/styles/app.css
  webapp/src/test/setup.ts
  webapp/vite.config.ts
Due: none

fix(ci): restore Windows and Dependabot checks
  .github/dependabot.yml
  packages/markitai/src/markitai/serve/app.py
  packages/markitai/src/markitai/serve/jobs.py
  packages/markitai/tests/unit/serve/test_serve_api.py
Due: pyright

build(serve): bundle web UI in Python distributions
  .github/workflows/ci.yml
  .github/workflows/publish.yml
  README.md
  packages/markitai/src/markitai/serve/static/assets/index-CMzR27HW.js
  packages/markitai/src/markitai/serve/static/assets/index-ClfESqBB.css
  packages/markitai/src/markitai/serve/static/assets/inter-cyrillic-ext-wght-normal-BOeWTOD4.woff2
  packages/markitai/src/markitai/serve/static/assets/inter-cyrillic-wght-normal-DqGufNeO.woff2
  packages/markitai/src/markitai/serve/static/assets/inter-greek-ext-wght-normal-DlzME5K_.woff2
  packages/markitai/src/markitai/serve/static/assets/inter-greek-wght-normal-CkhJZR-_.woff2
  packages/markitai/src/markitai/serve/static/assets/inter-latin-ext-wght-normal-DO1Apj_S.woff2
  packages/markitai/src/markitai/serve/static/assets/inter-latin-wght-normal-Dx4kXJAl.woff2
  packages/markitai/src/markitai/serve/static/assets/inter-vietnamese-wght-normal-CBcvBZtf.woff2
  packages/markitai/src/markitai/serve/static/assets/rehype-highlight-Da2N5hvn.js
  packages/markitai/src/markitai/serve/static/favicon.ico
  packages/markitai/src/markitai/serve/static/index.html
  packages/markitai/src/markitai/serve/static/logo.svg
  scripts/sync_webapp_static.sh
  webapp/README.md
Due: sync-readme

chore(release): 0.22.0
  CHANGELOG.md
  CHANGELOG.zh.md
  packages/markitai/src/markitai/__init__.py
  pyproject.toml
  uv.lock
Due: pyright

fix(setup): preserve extras when enabling Web UI
  packages/markitai/tests/unit/test_setup_script_guards.py
  scripts/setup.ps1
  scripts/setup.sh
Due: pyright

fix: stabilize LLM retries and PDF pagination
  packages/markitai/src/markitai/serve/jobs.py
  packages/markitai/src/markitai/serve/static/assets/index-BCJSZCUX.css
  packages/markitai/src/markitai/serve/static/assets/index-CLSrzDIU.js
  packages/markitai/src/markitai/serve/static/assets/index-D5jQhsVN.css
  packages/markitai/src/markitai/serve/static/assets/index-quNzTt_z.js
  packages/markitai/src/markitai/serve/static/assets/rehype-highlight-7UtqkM1X.js
  packages/markitai/src/markitai/serve/static/index.html
  packages/markitai/tests/unit/serve/test_serve_api.py
  webapp/src/App.test.tsx
  webapp/src/App.tsx
  webapp/src/components/ArchivedJobsSection.test.tsx
  webapp/src/components/ArchivedJobsSection.tsx
  webapp/src/components/ItemList.test.tsx
  webapp/src/components/ItemList.tsx
  webapp/src/components/ItemRow.test.tsx
  webapp/src/components/ItemRow.tsx
  webapp/src/hooks/useJobs.ts
  webapp/src/i18n.ts
  webapp/src/lib/format.ts
  webapp/src/styles/app.css
Due: pyright

ci(release): gate publish on webapp build + packaged-asset check
  .github/workflows/publish.yml
Due: none

ci: fix Python CI lint + flaky webapp test
  packages/markitai/src/markitai/cli/commands/serve.py
  packages/markitai/src/markitai/providers/discovery.py
  packages/markitai/src/markitai/serve/app.py
  packages/markitai/src/markitai/serve/jobs.py
  packages/markitai/src/markitai/utils/text.py
  packages/markitai/tests/unit/cli/test_file_processor.py
  packages/markitai/tests/unit/serve/test_serve_api.py
  packages/markitai/tests/unit/serve/test_serve_settings.py
  packages/markitai/tests/unit/test_image.py
  packages/markitai/tests/unit/test_image_converter.py
  webapp/src/App.test.tsx
Due: pyright

Path conditions:
  sync-readme: any of: ^README\.md$
  pyright: any of: \.py$
