Repository Ynewtime/markitai: changes, and which pre-commit hooks are due for each by the changed paths.
All: sync-readme, pyright

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.14
    hooks:
      - id: ruff-check
        args: [--fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: sync-readme
        name: sync README to package
        entry: bash -c 'cp README.md packages/markitai/README.md && git add packages/markitai/README.md'
        language: system
        files: ^README\.md$
        pass_filenames: false

      - id: pyright
        name: pyright
        entry: uv run pyright
        args: [packages/markitai/src]
        language: system
        types: [python]
        pass_filenames: false

      - id: pytest
        name: pytest
        entry: uv run pytest -x -q -n auto
        language: system
        pass_filenames: false
        stages: [pre-push]

chore: untrack .claude session memory (missed in artifact cleanup)
  .claude/projects/-home-y-dev-markitai/memory/MEMORY.md
  .claude/projects/-home-y-dev-markitai/memory/project_fxtwitter_strategy.md
Due: none

docs: MIT license, real README, contributor guide, bilingual env example
  .env.example
  CHANGELOG.md
  CONTRIBUTING.md
  LICENSE
  README.md
  scripts/setup.ps1
  scripts/setup.sh
  website/guide/getting-started.md
  website/zh/guide/getting-started.md
Due: sync-readme

feat(packaging): mkai alias package on PyPI
  .github/workflows/publish.yml
  packages/mkai/README.md
  packages/mkai/pyproject.toml
  packages/mkai/src/mkai/__init__.py
Due: pyright

docs: escape bare angle-bracket token in changelog (Vue treats it as an unclosed tag, breaking the website build)
  CHANGELOG.md
Due: none

feat(webextract): tweet conversion at defuddle parity
  packages/markitai/src/markitai/fetch_fxtwitter.py
  packages/markitai/src/markitai/webextract/extractors/x_common.py
  packages/markitai/src/markitai/webextract/extractors/x_tweet.py
  packages/markitai/src/markitai/webextract/render.py
  packages/markitai/src/markitai/webextract/semantics.py
  packages/markitai/tests/unit/cli/test_conversion_status.py
  packages/markitai/tests/unit/test_fetch_fxtwitter.py
  packages/markitai/tests/unit/webextract/_extraction_context_snapshot.txt
  packages/markitai/tests/unit/webextract/test_render_thread.py
  packages/markitai/tests/unit/webextract/test_x_common.py
  packages/markitai/tests/unit/webextract/test_x_tweet_thread.py
Due: pyright

feat(cli): stage-aware ASCII progress spinner for long conversions
  packages/markitai/src/markitai/cli/main.py
  packages/markitai/src/markitai/cli/processors/file.py
  packages/markitai/src/markitai/cli/processors/url.py
  packages/markitai/src/markitai/cli/ui.py
Due: pyright

feat(cli): unified glyph status cards for auth providers
  packages/markitai/src/markitai/cli/commands/auth.py
  packages/markitai/src/markitai/providers/auth.py
  packages/markitai/tests/unit/test_auth_cli.py
Due: pyright

fix(fetch): never render blank error messages
  CHANGELOG.md
  packages/markitai/src/markitai/fetch.py
  packages/markitai/tests/unit/test_fetch.py
Due: pyright

chore(packaging): drop the mkai PyPI alias stub
  .github/workflows/publish.yml
  CHANGELOG.md
  README.md
  packages/markitai/src/markitai/fetch.py
  packages/mkai/README.md
  packages/mkai/pyproject.toml
  packages/mkai/src/mkai/__init__.py
  uv.lock
Due: sync-readme, pyright

fix(fetch): tweet URLs actually reach FxTwitter in the auto chain; rebuild X DOM extractor for the 2026 redesign
  packages/markitai/src/markitai/domain_profiles.py
  packages/markitai/src/markitai/fetch.py
  packages/markitai/src/markitai/webextract/extractors/x_common.py
  packages/markitai/src/markitai/webextract/extractors/x_tweet.py
  packages/markitai/src/markitai/webextract/render.py
  packages/markitai/tests/fixtures/web/README.md
  packages/markitai/tests/fixtures/web/x_status_2073286406558949828.expected.json
  packages/markitai/tests/fixtures/web/x_status_2073286406558949828.playwright.html
  packages/markitai/tests/unit/cli/test_init.py
  packages/markitai/tests/unit/test_auth_cli.py
  packages/markitai/tests/unit/test_fetch_fallback.py
  packages/markitai/tests/unit/test_playwright_domain_profiles.py
  packages/markitai/tests/unit/webextract/test_x_tweet_real_dom.py
Due: pyright

feat(cli): init Update flow, concurrent detection, login failure cards
  CHANGELOG.md
  packages/markitai/src/markitai/cli/commands/auth.py
  packages/markitai/src/markitai/cli/commands/init.py
Due: pyright

docs: escape bare angle-bracket token in changelog; add website-safety guard test
  CHANGELOG.md
  packages/markitai/tests/unit/test_changelog_website_safe.py
Due: pyright

fix(fetch): rebuild HTTP clients when the event loop changes; harden CI-flaky tests
  packages/markitai/src/markitai/fetch.py
  packages/markitai/src/markitai/fetch_http.py
  packages/markitai/tests/unit/cli/test_doctor.py
  packages/markitai/tests/unit/test_cli_main.py
Due: pyright

fix(fetch): drop stale-loop HTTP clients at cleanup instead of awaiting aclose
  packages/markitai/src/markitai/fetch.py
  packages/markitai/src/markitai/fetch_http.py
  packages/markitai/tests/unit/test_cli_main.py
Due: pyright

fix(tests): CI-environment failures unmasked once unit flakes were cured
  packages/markitai/tests/integration/test_cli.py
  packages/markitai/tests/integration/test_output_format.py
  packages/markitai/tests/unit/test_providers.py
Due: pyright

fix(tests): scrub CI env for the subprocess help test on Windows
  packages/markitai/tests/integration/test_cli.py
Due: pyright

fix(tests): run the subprocess help test via python -m, not uv's exe shim
  packages/markitai/tests/integration/test_cli.py
Due: pyright

test(ci): skip the subprocess --help test on Windows
  packages/markitai/tests/integration/test_cli.py
Due: pyright

ci: bump actions/checkout to v6.0.3 and gh-action-pypi-publish to v1.14.0
  .github/workflows/ci.yml
  .github/workflows/deploy-website.yml
  .github/workflows/publish.yml
Due: none

fix(setup.sh): don't abort install when an optional component is declined
  packages/markitai/tests/unit/test_setup_script_guards.py
  scripts/setup.sh
Due: pyright

fix(tests): read setup.sh as UTF-8 in the guard test (Windows cp1252 default)
  packages/markitai/tests/unit/test_setup_script_guards.py
Due: pyright

feat(setup): surface the mkai short alias and warn on name conflicts
  scripts/setup.ps1
  scripts/setup.sh
Due: none

docs: lead with the guided installer; add uv/pip follow-up steps and the mkai alias
  README.md
  website/guide/getting-started.md
  website/zh/guide/getting-started.md
Due: sync-readme

chore(domain): migrate markitai.ynewtime.com -> markitai.dev
  README.md
  packages/markitai/pyproject.toml
  packages/markitai/src/markitai/cli/commands/doctor.py
  packages/markitai/src/markitai/cli/commands/init.py
  scripts/setup.ps1
  scripts/setup.sh
  website/public/CNAME
Due: sync-readme, pyright

ci: scope release-please to package changes; document commit-type discipline
  .github/workflows/release-please.yml
  CONTRIBUTING.md
Due: none

ci: replace release-please with a manual tag-driven release
  .github/release-please-config.json
  .github/release-please-manifest.json
  .github/workflows/publish.yml
  .github/workflows/release-please.yml
  CONTRIBUTING.md
  packages/markitai/src/markitai/__init__.py
Due: pyright

feat(webextract): DOM-first X/Twitter extraction, Bilibili opus support, CAPTCHA detection
  CHANGELOG.md
  packages/markitai/src/markitai/__init__.py
  packages/markitai/src/markitai/cli/ui.py
  packages/markitai/src/markitai/fetch.py
  packages/markitai/src/markitai/fetch_fxtwitter.py
  packages/markitai/src/markitai/fetch_playwright.py
  packages/markitai/src/markitai/fetch_policy.py
  packages/markitai/src/markitai/webextract/enrichers/x_oembed.py
  packages/markitai/src/markitai/webextract/extractors/bilibili_opus.py
  packages/markitai/src/markitai/webextract/extractors/registry.py
  packages/markitai/src/markitai/webextract/extractors/x_article.py
  packages/markitai/src/markitai/webextract/extractors/x_common.py
  packages/markitai/src/markitai/webextract/extractors/x_tweet.py
  packages/markitai/src/markitai/webextract/frontmatter.py
  packages/markitai/src/markitai/webextract/pipeline.py
  packages/markitai/src/markitai/webextract/render.py
  packages/markitai/src/markitai/webextract/semantics.py
  packages/markitai/src/markitai/webextract/types.py
  packages/markitai/tests/fixtures/web/bilibili_opus_1053433238661365784.playwright.html
  packages/markitai/tests/fixtures/web/x_status_2030105637204676808.expected.json
  packages/markitai/tests/fixtures/web/x_status_2073286406558949828.expected.json
  packages/markitai/tests/unit/cli/test_conversion_status.py
  packages/markitai/tests/unit/test_fetch.py
  packages/markitai/tests/unit/test_fetch_fallback.py
  packages/markitai/tests/unit/test_fetch_fxtwitter.py
  packages/markitai/tests/unit/test_fetch_playwright.py
  packages/markitai/tests/unit/webextract/_extraction_context_snapshot.txt
  packages/markitai/tests/unit/webextract/test_async_resolver.py
  packages/markitai/tests/unit/webextract/test_bilibili_opus.py
  packages/markitai/tests/unit/webextract/test_render_thread.py
  packages/markitai/tests/unit/webextract/test_semantic_parity.py
  packages/markitai/tests/unit/webextract/test_x_common.py
  packages/markitai/tests/unit/webextract/test_x_oembed_enricher.py
  packages/markitai/tests/unit/webextract/test_x_tweet_real_dom.py
  packages/markitai/tests/unit/webextract/test_x_tweet_thread.py
Due: pyright

style: reformat webextract/fetch changes with ruff format
  packages/markitai/src/markitai/fetch_playwright.py
  packages/markitai/src/markitai/webextract/enrichers/x_oembed.py
  packages/markitai/src/markitai/webextract/extractors/bilibili_opus.py
  packages/markitai/src/markitai/webextract/extractors/x_common.py
  packages/markitai/src/markitai/webextract/extractors/x_tweet.py
  packages/markitai/src/markitai/webextract/frontmatter.py
  packages/markitai/tests/unit/test_fetch.py
  packages/markitai/tests/unit/test_fetch_fallback.py
  packages/markitai/tests/unit/test_fetch_playwright.py
  packages/markitai/tests/unit/webextract/test_render_thread.py
  packages/markitai/tests/unit/webextract/test_x_common.py
  packages/markitai/tests/unit/webextract/test_x_oembed_enricher.py
Due: pyright

fix(tests): read CHANGELOG.md as UTF-8 in the website-safety guard (Windows cp1252 default)
  packages/markitai/tests/unit/test_changelog_website_safe.py
Due: pyright

style: reformat the CHANGELOG encoding fix with ruff format
  packages/markitai/tests/unit/test_changelog_website_safe.py
Due: pyright

docs: point install-script links at markitai.dev
  README.md
  docs/user-journey.md
  website/guide/getting-started.md
  website/zh/guide/getting-started.md
Due: sync-readme

refactor(providers)!: remove the gemini-cli provider
  CHANGELOG.md
  README.md
  docs/user-journey.md
  packages/markitai/pyproject.toml
  packages/markitai/src/markitai/cli/commands/auth.py
  packages/markitai/src/markitai/cli/commands/doctor.py
  packages/markitai/src/markitai/cli/commands/init.py
  packages/markitai/src/markitai/cli/providers_detect.py
  packages/markitai/src/markitai/llm/processor.py
  packages/markitai/src/markitai/providers/__init__.py
  packages/markitai/src/markitai/providers/auth.py
  packages/markitai/src/markitai/providers/gemini_cli.py
  packages/markitai/src/markitai/providers/oauth_display.py
  packages/markitai/tests/unit/cli/test_doctor.py
  packages/markitai/tests/unit/cli/test_interactive.py
  packages/markitai/tests/unit/cli/test_providers_detect.py
  packages/markitai/tests/unit/test_auth_cli.py
  packages/markitai/tests/unit/test_doctor_cli.py
  packages/markitai/tests/unit/test_llm_processor.py
  packages/markitai/tests/unit/test_oauth_display.py
  packages/markitai/tests/unit/test_preflight_auth.py
  packages/markitai/tests/unit/test_provider_auth.py
  packages/markitai/tests/unit/test_provider_gemini_cli.py
  packages/markitai/tests/unit/test_providers.py
  packages/markitai/tests/unit/test_setup_script_guards.py
  packages/markitai/tests/unit/test_utils_text.py
  pyproject.toml
  scripts/setup.ps1
  scripts/setup.sh
  uv.lock
  website/guide/configuration.md
  website/guide/getting-started.md
  website/zh/guide/configuration.md
  website/zh/guide/getting-started.md
Due: sync-readme, pyright
