Repository Ynewtime/markitai: changes, and which pre-commit hooks are due for each by the changed paths.
All: sync-readme, pyright

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.14
    hooks:
      - id: ruff-check
        args: [--fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: sync-readme
        name: sync README to package
        entry: bash -c 'cp README.md packages/markitai/README.md && git add packages/markitai/README.md'
        language: system
        files: ^README\.md$
        pass_filenames: false

      - id: pyright
        name: pyright
        entry: uv run pyright
        args: [packages/markitai/src]
        language: system
        types: [python]
        pass_filenames: false

      - id: pytest
        name: pytest
        entry: uv run pytest -x -q -n auto
        language: system
        pass_filenames: false
        stages: [pre-push]

test(webapp): clear storage between tests to stop llm-toggle state leak
  webapp/src/App.test.tsx
  webapp/src/test/setup.ts
Due: none

test: pin TERM in fake-TTY consoles to fix env-dependent failures
  packages/markitai/tests/unit/cli/test_progress_integration.py
  packages/markitai/tests/unit/cli/test_stage_list.py
  packages/markitai/tests/unit/test_oauth_display.py
Due: pyright

feat: record CLI conversions in the serve history page
  CHANGELOG.md
  CHANGELOG.zh.md
  README.md
  packages/markitai/src/markitai/cli/main.py
  packages/markitai/src/markitai/cli/processors/batch.py
  packages/markitai/src/markitai/cli/processors/file.py
  packages/markitai/src/markitai/cli/processors/url.py
  packages/markitai/src/markitai/config.py
  packages/markitai/src/markitai/config.schema.json
  packages/markitai/src/markitai/runs/__init__.py
  packages/markitai/src/markitai/runs/history.py
  packages/markitai/src/markitai/serve/app.py
  packages/markitai/src/markitai/serve/jobs.py
  packages/markitai/src/markitai/serve/static/assets/index-B1eAIiX6.css
  packages/markitai/src/markitai/serve/static/assets/index-BXs1XRHH.css
  packages/markitai/src/markitai/serve/static/assets/index-CjKNh368.js
  packages/markitai/src/markitai/serve/static/assets/rehype-highlight-DHNDur2p.js
  packages/markitai/src/markitai/serve/static/index.html
  packages/markitai/tests/unit/cli/test_record_history.py
  packages/markitai/tests/unit/runs/__init__.py
  packages/markitai/tests/unit/runs/test_history.py
  packages/markitai/tests/unit/serve/test_serve_history.py
  packages/markitai/tests/unit/test_schema_sync.py
  webapp/src/App.test.tsx
  webapp/src/api/types.ts
  webapp/src/components/ArchivedJobsSection.test.tsx
  webapp/src/components/ArchivedJobsSection.tsx
  webapp/src/components/ItemList.test.tsx
  webapp/src/hooks/useArchivedJobs.test.ts
  webapp/src/i18n.ts
  webapp/src/styles/app.css
  website/.vitepress/config.ts
  website/guide/cli.md
  website/guide/configuration.md
  website/guide/serve.md
  website/zh/guide/cli.md
  website/zh/guide/configuration.md
  website/zh/guide/serve.md
Due: sync-readme, pyright

test: use posix relpaths in history asset assertion for Windows
  packages/markitai/tests/unit/runs/test_history.py
Due: pyright

fix(setup): migrate retired extras in uv tool installs
  packages/markitai/tests/unit/test_setup_script_guards.py
  scripts/setup.ps1
  scripts/setup.sh
Due: pyright

chore: prepare 1.1.0 performance release
  CHANGELOG.md
  CHANGELOG.zh.md
  packages/markitai/src/markitai/__init__.py
  pyproject.toml
  server.json
  uv.lock
Due: pyright

chore: refresh dependencies and disable update bot noise
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/coverage-comment.yml
  packages/markitai/src/markitai/converter/docx_plain.py
  packages/markitai/src/markitai/serve/static/assets/PreviewModal-DqBbrhoY.js
  packages/markitai/src/markitai/serve/static/assets/SettingsModal-D7QlLu5K.js
  packages/markitai/src/markitai/serve/static/assets/SettingsModal-DoHT64rP.js
  packages/markitai/src/markitai/serve/static/assets/index-UkBz1r2D.js
  packages/markitai/src/markitai/serve/static/assets/index-seQ8TvjH.js
  packages/markitai/src/markitai/serve/static/assets/rehype-highlight-DYakyPvR.js
  packages/markitai/src/markitai/serve/static/index.html
  pyproject.toml
  uv.lock
  webapp/README.md
  webapp/bun.lock
  webapp/package.json
  website/bun.lock
Due: pyright

test: use explicit UTF-8 for conversion fixtures
  packages/markitai/tests/unit/test_mammoth_xml.py
  packages/markitai/tests/unit/webextract/test_defuddle_ux_regressions.py
  packages/markitai/tests/unit/webextract/test_selector_performance.py
Due: pyright

test: make router cooldown assertions deterministic
  packages/markitai/tests/unit/test_llm_processor.py
Due: pyright

fix: improve X extraction and reduce repeated notices for 1.1.0
  CHANGELOG.md
  CHANGELOG.zh.md
  packages/markitai/src/markitai/config.py
  packages/markitai/src/markitai/config.schema.json
  packages/markitai/src/markitai/domain_profiles.py
  packages/markitai/src/markitai/fetch.py
  packages/markitai/src/markitai/fetch_consent.py
  packages/markitai/src/markitai/fetch_playwright.py
  packages/markitai/src/markitai/fetch_policy.py
  packages/markitai/src/markitai/fetch_strategies/playwright.py
  packages/markitai/src/markitai/fetch_support.py
  packages/markitai/src/markitai/notices.py
  packages/markitai/src/markitai/vision_consent.py
  packages/markitai/src/markitai/webextract/enrichers/x_oembed.py
  packages/markitai/tests/unit/test_converter_pdf.py
  packages/markitai/tests/unit/test_fetch.py
  packages/markitai/tests/unit/test_fetch_playwright.py
  packages/markitai/tests/unit/test_image_converter.py
  packages/markitai/tests/unit/test_persistent_notices.py
  packages/markitai/tests/unit/test_playwright_domain_profiles.py
  packages/markitai/tests/unit/test_ports.py
  packages/markitai/tests/unit/test_remote_consent.py
  packages/markitai/tests/unit/test_vision_consent.py
  packages/markitai/tests/unit/test_x_fetch_recovery.py
  packages/markitai/tests/unit/webextract/test_x_oembed_enricher.py
  pyproject.toml
  website/guide/fetch-policy.md
  website/zh/guide/fetch-policy.md
Due: pyright

docs: align configuration guide with 1.1.0 fetch behavior
  website/guide/configuration.md
  website/zh/guide/configuration.md
Due: none

test: isolate stdin in persistent notice subprocesses
  packages/markitai/tests/unit/test_persistent_notices.py
Due: pyright

test: use a pipe for noninteractive Windows subprocesses
  packages/markitai/tests/unit/test_persistent_notices.py
Due: pyright

docs: give each document one job and align them with the code
  .env.example
  CONTRIBUTING.md
  README.md
  packages/markitai/src/markitai/webextract/PORT_MANIFEST.md
  packages/markitai/tests/unit/test_website_docs_sync.py
  process/README.md
  process/defuddle-port-audits.md
  process/rejected-backends.md
  scripts/benchmarks/README.md
  skills/markitai-dev/SKILL.md
  webapp/README.md
  website/.vitepress/config.ts
  website/guide/configuration.md
  website/guide/performance.md
  website/public/llms.txt
  website/zh/guide/configuration.md
  website/zh/guide/performance.md
Due: sync-readme, pyright

test: isolate subscription-provider credentials from the environment
  packages/markitai/tests/conftest.py
  packages/markitai/tests/unit/test_auth_cli.py
  packages/markitai/tests/unit/test_security.py
Due: pyright

style: format the Python blocks in the guides with ruff
  website/guide/output-profiles.md
  website/guide/python-api.md
  website/zh/guide/output-profiles.md
  website/zh/guide/python-api.md
Due: none

docs: stop seeding .env.example with a model, and say what auto-detection picks
  .env.example
  website/guide/configuration.md
  website/zh/guide/configuration.md
Due: none

docs: cut filler from the prose added in this cleanup
  CONTRIBUTING.md
  README.md
  process/README.md
  process/rejected-backends.md
  scripts/benchmarks/README.md
  website/guide/configuration.md
  website/guide/performance.md
  website/zh/guide/configuration.md
  website/zh/guide/performance.md
Due: sync-readme

ci: point the defuddle-watch issue at the renamed manifest section
  .github/workflows/defuddle-watch.yml
Due: none

fix(webextract): port defuddle 0.19.4 extraction changes
  CHANGELOG.md
  CHANGELOG.zh.md
  packages/markitai/benchmarks/guardrails.json
  packages/markitai/benchmarks/results/baseline.json
  packages/markitai/src/markitai/webextract/html_to_markdown.py
  packages/markitai/src/markitai/webextract/preprocess.py
  packages/markitai/src/markitai/webextract/removals/content_patterns.py
  packages/markitai/src/markitai/webextract/sanitize.py
  packages/markitai/src/markitai/webextract/standardize.py
  packages/markitai/tests/unit/webextract/test_defuddle_0_19_4_port.py
  packages/markitai/tests/unit/webextract/test_preprocess.py
  packages/markitai/tests/unit/webextract/test_sanitize.py
  process/defuddle-port-audits.md
Due: pyright

docs: drop the star-count remark from the comparison pages
  website/guide/comparison.md
  website/zh/guide/comparison.md
Due: none

docs: edit the prose for a human voice
  CHANGELOG.md
  CHANGELOG.zh.md
  CONTRIBUTING.md
  README.md
  process/README.md
  process/rejected-backends.md
  scripts/benchmarks/README.md
  skills/markitai-convert/SKILL.md
  skills/markitai-convert/references/cli.md
  skills/markitai-convert/references/url-fetching.md
  skills/markitai-dev/SKILL.md
  skills/markitai-release/SKILL.md
  skills/markitai-setup/SKILL.md
  skills/markitai-setup/references/providers.md
  webapp/README.md
  website/guide/cli.md
  website/guide/comparison.md
  website/guide/configuration.md
  website/guide/fetch-policy.md
  website/guide/getting-started.md
  website/guide/mcp.md
  website/guide/output-profiles.md
  website/guide/performance.md
  website/guide/python-api.md
  website/guide/serve.md
  website/index.md
  website/zh/guide/cli.md
  website/zh/guide/comparison.md
  website/zh/guide/configuration.md
  website/zh/guide/fetch-policy.md
  website/zh/guide/getting-started.md
  website/zh/guide/output-profiles.md
  website/zh/guide/performance.md
  website/zh/guide/python-api.md
  website/zh/guide/serve.md
  website/zh/index.md
Due: sync-readme

fix: pass CI on Windows and Linux
  packages/markitai/src/markitai/cli/processors/batch_llm.py
  packages/markitai/src/markitai/ocr.py
  packages/markitai/tests/unit/cli/test_file_processor.py
  packages/markitai/tests/unit/mcp/test_server.py
  packages/markitai/tests/unit/test_batch_llm.py
  packages/markitai/tests/unit/test_ocr.py
Due: pyright

test: check the upside-down page order on the box geometry
  packages/markitai/tests/unit/test_ocr.py
Due: pyright

docs: record the next-version CHANGELOG rule in AGENTS.md
  AGENTS.md
  CHANGELOG.md
  CHANGELOG.zh.md
  CLAUDE.md
Due: none

feat(llm): keep the unenhanced output when enhancement fails (llm.on_failure)
  CHANGELOG.md
  CHANGELOG.zh.md
  packages/markitai/src/markitai/api.py
  packages/markitai/src/markitai/cli/processors/batch.py
  packages/markitai/src/markitai/cli/processors/batch_llm.py
  packages/markitai/src/markitai/cli/processors/file.py
  packages/markitai/src/markitai/cli/processors/url.py
  packages/markitai/src/markitai/config.py
  packages/markitai/src/markitai/config.schema.json
  packages/markitai/src/markitai/serve/jobs.py
  packages/markitai/src/markitai/workflow/core.py
  packages/markitai/src/markitai/workflow/llm_failure.py
  packages/markitai/src/markitai/workflow/results.py
  packages/markitai/src/markitai/workflow/url.py
  packages/markitai/tests/unit/test_api.py
  packages/markitai/tests/unit/test_batch_llm.py
  packages/markitai/tests/unit/test_batch_processor.py
  packages/markitai/tests/unit/test_batch_resume_state.py
  packages/markitai/tests/unit/test_batch_url_processor.py
  packages/markitai/tests/unit/test_llm_failure_leftovers.py
  packages/markitai/tests/unit/test_llm_on_failure.py
  packages/markitai/tests/unit/test_url_processor.py
  packages/markitai/tests/unit/test_workflow_core.py
  website/guide/cli.md
  website/guide/configuration.md
  website/zh/guide/cli.md
  website/zh/guide/configuration.md
Due: pyright

test(serve): cover both llm.on_failure policies for URL items
  packages/markitai/tests/unit/serve/test_serve_api.py
Due: pyright

perf: extract PDF pages in worker processes and pipeline LLM batches
  CHANGELOG.md
  CHANGELOG.zh.md
  packages/markitai/src/markitai/__init__.py
  packages/markitai/src/markitai/api.py
  packages/markitai/src/markitai/cli/main.py
  packages/markitai/src/markitai/cli/processors/batch.py
  packages/markitai/src/markitai/cli/processors/validators.py
  packages/markitai/src/markitai/converter/pdf.py
  packages/markitai/src/markitai/converter/pdf_parallel.py
  packages/markitai/src/markitai/llm/__init__.py
  packages/markitai/src/markitai/mcp/server.py
  packages/markitai/src/markitai/serve/jobs.py
  packages/markitai/src/markitai/utils/prewarm.py
  packages/markitai/src/markitai/utils/shutdown.py
  packages/markitai/src/markitai/workflow/core.py
  packages/markitai/src/markitai/workflow/slots.py
  packages/markitai/tests/conftest.py
  packages/markitai/tests/unit/test_pdf_parallel.py
  packages/markitai/tests/unit/test_staged_slots_and_prewarm.py
  website/guide/configuration.md
  website/guide/performance.md
  website/guide/python-api.md
  website/zh/guide/configuration.md
  website/zh/guide/performance.md
  website/zh/guide/python-api.md
Due: pyright

perf(serve): keep the web workspace responsive and aligned with the CLI
  CHANGELOG.md
  CHANGELOG.zh.md
  packages/markitai/src/markitai/converter/base.py
  packages/markitai/src/markitai/converter/pdf.py
  packages/markitai/src/markitai/converter/pdf_parallel.py
  packages/markitai/src/markitai/providers/auth.py
  packages/markitai/src/markitai/serve/app.py
  packages/markitai/src/markitai/serve/jobs.py
  packages/markitai/src/markitai/utils/prewarm.py
  packages/markitai/src/markitai/workflow/core.py
  packages/markitai/tests/unit/serve/test_serve_api.py
  packages/markitai/tests/unit/test_event_loop_offload.py
  packages/markitai/tests/unit/test_pdf_parallel.py
  website/guide/performance.md
  website/guide/serve.md
  website/zh/guide/performance.md
  website/zh/guide/serve.md
Due: pyright

docs: note failed LLM enhancement among warnings; adapt a patched scan
  packages/markitai/tests/unit/test_ocr_optional.py
  website/guide/mcp.md
  website/guide/python-api.md
  website/guide/serve.md
  website/zh/guide/mcp.md
  website/zh/guide/python-api.md
  website/zh/guide/serve.md
Due: pyright

fix(serve): cache hashed assets on Windows too
  packages/markitai/src/markitai/serve/app.py
Due: pyright

fix(pdf): no orphaned extraction workers; Ctrl-C stops them at once
  CHANGELOG.md
  CHANGELOG.zh.md
  packages/markitai/src/markitai/cli/main.py
  packages/markitai/src/markitai/converter/pdf_parallel.py
  packages/markitai/src/markitai/serve/app.py
  packages/markitai/tests/unit/serve/test_serve_api.py
  packages/markitai/tests/unit/test_pdf_parallel.py
Due: pyright

docs(changelog): condense 1.2.0 to its highlights
  CHANGELOG.md
  CHANGELOG.zh.md
Due: none

fix(llm): name every structural placeholder in the cleanup prompt
  CHANGELOG.md
  CHANGELOG.zh.md
  packages/markitai/src/markitai/prompts/document_process_system.md
  packages/markitai/tests/unit/test_prompts.py
Due: pyright
